@model dynamic
<body style="font-family:Arial; margin: 0;">

    <div style="background-color: #1f3c5a; color: white; padding: 10px; text-align:center; font-size: 22px;">
        Concession Management System Notification
    </div>

    <div style="padding: 15px">
        <p>Dear @Model.RequestorName,</p>
        <p>
            Please be advised that the following concessions are expiring in 3 months :
            <br /><br />
            <table style=" border-collapse: collapse; border: 1px solid black; padding: 2px;">
                <tr>
                    <th style="border: 1px solid black;">Concession Reference</th>
                    <th style="border: 1px solid black;">Concession Type</th>
                    <th style="border: 1px solid black;">Risk Group Number</th>
                    <th style="border: 1px solid black;">Risk Group Name</th>
                    <th style="border: 1px solid black;">Customer Name</th>
                    <th style="border: 1px solid black;">Expiry Date</th>
                    <th style="border: 1px solid black;">Date Approved</th>
                </tr>

                @foreach (var item in Model.ExpiringConcessionDetails)
                {
                    <tr>
                        <td style="border: 1px solid black;">@item.ConcessionRef</td>
                        <td style="border: 1px solid black;">@item.ConcessionType</td>
                        <td style="border: 1px solid black;">@item.RiskGroupNumber</td>
                        <td style="border: 1px solid black;">@item.RiskGroupName</td>
                        <td style="border: 1px solid black;">@item.CustomerName</td>
                        <td style="border: 1px solid black;">@item.ExpiryDate</td>
                        <td style="border: 1px solid black;">@item.DateApproved</td>
                    </tr>
                }

            </table>

        <p>Regards,</p>
        <p>Concession Management System</p>

        <p style="font-style: italic;">Please do not reply to this email.</p>
    </div>

</body>
