@if (Model.PageBreakBefore)
{
    <p style="page-break-before: always;"><img src="@Model.TemplatePath/images/sblogo.jpg" /></p>
}
else
{
    <p><img src="@Model.TemplatePath/images/sblogo.jpg" /></p>
}

<h2 style="text-align: right; color: #17365d;">Personal & Business Banking</h2>
<!-- today date-->
<p style="text-align:right; width: 100%;">@Model.CurrentDate</p>
<!--client address-->
<div style="padding-bottom:10px;">
    <p style="margin:0;">@Model.ClientContactPerson</p>
    <p style="margin:0;">@Model.ClientName</p>
    <p style="margin:0;">@Model.ClientPostalAddress</p>
    <p style="margin:0;">@Model.ClientCity</p>
    <p style="margin:0;">@Model.ClientPostalCode</p>
</div>
<!--client information -->
<div style="padding-bottom:10px">
    <p style="font-size:1.1em;font-family: Arial;"><span style="font-weight:bold;">Client Number:</span> @Model.ClientNumber </p>
    <p>Dear @Model.ClientContactPerson,</p>
</div>
<!--letter body-->
<div>
    <h style="font-weight: bold;">
        Offer of a Concession on pricing (“Fees/Interest Rates/Offer”) by the Standard Bank of South Africa Limited (“we/us/our”) to @Model.ClientName
    </h>
    <p>
        I am pleased to inform you that as a valued client you have been granted a concession on pricing for the services listed below.
        A concession is a discount on your pricing. This means that, subject to the conditions set out below,
        instead of paying the standard pricing for these service(s),
        you will be charged at the discounted pricing for the concession period.
    </p>
    <h style="font-weight: bold;">
        Please note that the pricing will revert to our standard pricing immediately after the expiry of the concession period, or should the conditions set out below not be met,
    </h>
    <p>
        All our pricing is reviewed on the 1st of January of each year or as otherwise advised by us. Your pricing will therefore be updated on 1 January or as otherwise advised. However, the concession you have been granted will remain the same until the concession period expires, and such concession will be applied to any updated pricing.
    </p>
    <p>The concession will be effective once you have indicated your acceptance of this Offer by signing in the space provided below.</p>
    <p>Our Terms & Conditions and the standard fees are available at www.standardbank.co.za. </p>
    <p>You are most welcome to contact me, your Relationship Manager, for any questions about pricing, or any of the business banking services we offer.</p>
    <p style="padding-top:15px">Yours sincerely, </p>
</div>
<!--contact information -->
<div style="padding-top:5px; display: inline;">
    <div style="float:left">
        <p style="margin:0; color: #17365d; font-weight:bold;">@Model.RequestorName</p>
        <p style="margin:0;">Relationship Manager</p>
        <p style="margin:0;">Telephone: @Model.RequestorContactNumber</p>
        <p style="margin:0;">Email: @Model.RequestorEmailAddress</p>
    </div>
    <div style="float:right">
        <p style="margin:0; color: #17365d; font-weight:bold;">@Model.BCMName</p>
        <p style="margin:0;">Business Suite Head</p>
        <p style="margin:0;">Telephone: @Model.BCMContactNumber</p>
        <p style="margin:0;">Email: @Model.BCMEmailAddress</p>
    </div>
</div>
<div style="clear:both"></div>

<!--risk group number-->
<p style="margin-top:50px;page-break-before: always;">Risk Group Number : @Model.RiskGroupNumber </p>

@if (Model.HasLendingOverDraftConcessionLetters)
{
    <!--LENDING (Specific to Overdraft)-->
    <p style="font-weight: bold;">LENDING (Specific to Overdraft)</p>
    <table border="1" width="100%">
        <tr style="background: #dbe5f1;">
            <td style="padding: 5px; width: 15%;">Product Type</td>
            <td style="padding: 5px; width: 15%;">Account Number</td>
            <td style="padding: 5px; width: 21%;">Channel / Fee Type</td>
            <td style="padding: 5px; width: 21%;">Fee / Margin Above Prime<br />(Incl. VAT)</td>
            <td style="padding: 5px; width: 14%;">Concession Start Date</td>
            <td style="padding: 5px; width: 14%;">Concession End Date</td>
        </tr>
        @foreach (var lendingOverDraftConcessionLetter in Model.LendingOverDraftConcessionLetters)
        {
            <tr>
                <td rowspan="5">@lendingOverDraftConcessionLetter.ProductType</td>
                <td rowspan="5">@lendingOverDraftConcessionLetter.AccountNumber</td>
                <td>Margin Above Prime</td>
                <td>@lendingOverDraftConcessionLetter.MarginToPrime</td>
                <td rowspan="5">@lendingOverDraftConcessionLetter.ConcessionStartDate</td>
                <td rowspan="5">@lendingOverDraftConcessionLetter.ConcessionEndDate</td>
            </tr>
            <tr>
                <td>Initiation Fee</td>
                <td>@lendingOverDraftConcessionLetter.InitiationFee</td>
            </tr>
            <tr>
                <td>Review Fee Type</td>
                <td>@lendingOverDraftConcessionLetter.ReviewFeeType</td>
            </tr>
            <tr>
                <td>Review Fee</td>
                <td>@lendingOverDraftConcessionLetter.ReviewFee</td>
            </tr>
            <tr>
                <td>Unutilised Facility Fee</td>
                <td>@lendingOverDraftConcessionLetter.UFFFee</td>
            </tr>
        }
    </table>
}

<!--LENDING-->
@if (Model.HasLendingConcessionLetters)
{
    <p style="font-weight: bold;">LENDING</p>
    <table border="1" width="100%">
        <tr style="background: #dbe5f1;">
            <td style="padding: 5px; width: 15%;">Product Type</td>
            <td style="padding: 5px; width: 15%;">Account Number</td>
            <td style="padding: 5px; width: 21%;">Channel / Fee Type</td>
            <td style="padding: 5px; width: 21%;">Fee / Margin Above Prime<br />(Incl. VAT)</td>
            <td style="padding: 5px; width: 14%;">Concession Start Date</td>
            <td style="padding: 5px; width: 14%;">Concession End Date</td>
        </tr>
        @foreach (var lendingConcessionLetter in Model.LendingConcessionLetters)
        {
            <tr>
                <td>@lendingConcessionLetter.ProductType</td>
                <td>@lendingConcessionLetter.AccountNumber</td>
                <td>Margin Above Prime</td>
                <td>@lendingConcessionLetter.FeeOrMarginAbovePrime</td>
                <td>@lendingConcessionLetter.ConcessionStartDate</td>
                <td>@lendingConcessionLetter.ConcessionEndDate</td>
            </tr>
        }
    </table>
}

@if (Model.HasCashConcessionLetters)
{
    <!--Cash Acquiring-->
    <p style="font-weight: bold;">CASH ACQUIRING</p>
    <table border="1" width="100%">
        <tr style="background: #dbe5f1;">
            <td style="padding: 5px;">Account Number</td>
            <td style="padding: 5px;">Channel / Fee Type</td>
            <td style="padding: 5px;">Fee / Rate<br />(Incl. VAT)</td>
            <td style="padding: 5px;">Concession Start Date</td>
            <td style="padding: 5px;">Concession End Date</td>
        </tr>
        @foreach (var cashConcessionLetter in Model.CashConcessionLetters)
        {
            <tr>
                <td>@cashConcessionLetter.AccountNumber</td>
                <td>@cashConcessionLetter.ChannelType</td>
                <td>@cashConcessionLetter.BaseRateAdValorem</td>
                <td>@cashConcessionLetter.ConcessionStartDate</td>
                <td>@cashConcessionLetter.ConcessionEndDate</td>
            </tr>
        }
    </table>
}

@if (Model.HasTransactionalConcessionLetters)
{
    <!--Transactional-->
    <p style="font-weight: bold;">TRANSACTIONAL</p>
    <table border="1" width="100%">
        <tr style="background: #dbe5f1;">
            <td style="padding: 5px;">Account Number</td>
            <td style="padding: 5px;">Channel / Fee Type</td>
            <td style="padding: 5px;">Fee / Rate<br />(Incl. VAT)</td>
            <td style="padding: 5px;">Concession Start Date</td>
            <td style="padding: 5px;">Concession End Date</td>
        </tr>
        @foreach (var transactionalConcessionLetter in Model.TransactionalConcessionLetters)
        {
            <tr>
                <td>@transactionalConcessionLetter.AccountNumber</td>
                <td>@transactionalConcessionLetter.ChannelOrFeeType</td>
                <td>@transactionalConcessionLetter.FeeOrRate</td>
                <td>@transactionalConcessionLetter.ConcessionStartDate</td>
                <td>@transactionalConcessionLetter.ConcessionEndDate</td>
            </tr>
        }
    </table>
}

    @*
        <!--Investments-->
        <p style="font-weight: bold;">INVESTMENTS</p>
        <table border="1" width="100%">
            <tr style="background: #dbe5f1;">
                <td style="padding: 5px;">Product Type</td>
                <td style="padding: 5px;">Account Number</td>
                <td style="padding: 5px;">Channel/ Fee Type</td>
                <td style="padding: 5px;">Fee / Interest to Client (Incl. VAT)</td>
                <td style="padding: 5px;">Concession Start Date</td>
                <td style="padding: 5px;">Concession End Date</td>
            </tr>
            <tr>
                <td>--Product type--</td>
                <td>--Account number--</td>
                <td>--Channel type--</td>
                <td>--Interest to client--</td>
                <td>--Start date--</td>
                <td>--End date--</td>
            </tr>
        </table>

        <!--Business online-->
        <p style="font-weight: bold;">BUSINESS ONLINE</p>
        <table border="1" width="100%">
            <tr style="background: #dbe5f1;">
                <td style="padding: 5px;">BOL User ID</td>
                <td style="padding: 5px;">Channel/ Fee Type</td>
                <td style="padding: 5px;">Flat Fee (Incl. VAT)</td>
                <td style="padding: 5px;">Concession Start Date</td>
                <td style="padding: 5px;">Concession End Date</td>
            </tr>
            <tr>
                <td>--User ID--</td>
                <td>--Channel / Fee type--</td>
                <td>--Commission rate</td>
                <td>--Start date--</td>
                <td>--End date--</td>
            </tr>
        </table>

        <!--Merchant Acquiring-->
        <p style="font-weight: bold;">MERCHANT ACQUIRING</p>
        <table border="1" width="100%">
            <tr style="background: #dbe5f1;">
                <td style="padding: 5px;">Merchant Number</td>
                <td style="padding: 5px;">Channel/ Fee Type</td>
                <td style="padding: 5px;">Fee / Rate (Incl. VAT)</td>
                <td style="padding: 5px;">Concession Start Date</td>
                <td style="padding: 5px;">Concession End Date</td>
            </tr>
            <tr>
                <td>--Merchant Number--</td>
                <td>--Channel / Fee type--</td>
                <td>--Commission rate</td>
                <td>--Start date--</td>
                <td>--End date--</td>
            </tr>
        </table>

        <!--Trade-->
        <p style="font-weight: bold;">TRADE</p>
        <table border="1" width="100%">
            <tr style="background: #dbe5f1;">
                <td style="padding: 5px;">Account Number</td>
                <td style="padding: 5px;">Channel/ Fee Type</td>
                <td style="padding: 5px;">Fee / Rate (Incl. VAT)</td>
                <td style="padding: 5px;">Concession Start Date</td>
                <td style="padding: 5px;">Concession End Date</td>
            </tr>
            <tr>
                <td>--Account Number--</td>
                <td>--Transaction type--</td>
                <td>--Fee / Rate--</td>
                <td>--Start date--</td>
                <td>--End date--</td>
            </tr>
        </table>*@

    @if (Model.HasConditionConcessionLetters)
    {
    <!-- Conditions of grant -->
        <table border="1" width="100%" style="margin-top: 15px;">
            <tr style="background: #dbe5f1;">
                <td colspan="4" style="padding: 5px; font-weight: bold;">Conditions of Grant</td>
            </tr>
            <tr style="background: #dbe5f1;">
                <td style="padding: 5px;">Condition Measure</td>
                <td style="padding: 5px;">Condition Product</td>
                <td style="padding: 5px;">Value</td>
                <td style="padding: 5px;">Deadline</td>
            </tr>
            @foreach (var condition in Model.ConditionConcessionLetters)
            {
                <tr>
                    <td>@condition.ConditionMeasure</td>
                    <td>@condition.ConditionProduct</td>
                    <td>@condition.Value</td>
                    <td>@condition.Deadline</td>
                </tr>
            }
        </table>
    }

    <p style="margin:0; color: #17365d; font-weight:bold; margin-top: 50px; page-break-before: always;">Terms and Conditions</p>
    <ol>
        <li>This Offer replaces all previous pricing communications to you.</li>
        <li>All pricing is quoted inclusive of VAT (unless otherwise indicated) and is valid for 14 days from the date of offer, after which the bank reserves the right to review the offer if not taken up.</li>
        <li>The concession is a discount that is given to you on your fees. Your fees may still change from time to time in accordance with our Terms and Conditions. The concession will apply to any updated fees.</li>
        <li>The concession is only valid for the concession period or until any conditions that have been imposed are not fulfilled.</li>
        <li>If there is a conflict between the terms of this Offer and the Terms and Conditions, the terms of this Offer, only in relation to fees, and only to the extent of such conflict, shall prevail. The Terms and Conditions shall prevail in respect of all other matters.</li>
        <li>This Offer is addendum to and not a novation of the Terms and Conditions. All the terms of the Terms and Conditions will remain of full force and effect, unless specifically amended in this Offer.</li>
    </ol>

